body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
h1 {
	font-size: 65px;
	font-weight: 700;
	color: black;
}
h2{
    font-size: 50px;
    color: gray;
}
h3{
    font-size: 25px;
}
.orange-color{
     color: orange;   
}

.food-top-area {
	display: flex;
	margin-bottom: 35px;
}
.food-content {
	width: 50%;
	padding-left: 5%;
}
p {
	color: gray;
	line-height: 1.8;
	font-size: 22px;
	margin-bottom: 60px;
}

.link-button {
	padding: 20px 41px;
	background-color: orange;
	box-shadow: 5px 8px 10px slategrey;
	border-radius: 80px;
	color: white;
	text-decoration: none;
	font-weight: 700;
}

/*about area*/

.about-area {
	background-image: url(images/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	background-size: cover;
	padding-top: 90px;
}
.about-content img {
	width: 67%;
}
.about-content {
	width: 75%;
	padding: 0px 6%;
}
.about-content p {
	color: gray;
	line-height: 1.8;
	font-size: 22px;
	margin-bottom: 60px;
}


/*recipies-area*/

.recipies-area {
	margin-top: 100px;
    margin-bottom: 250px;
}
.recipi-title{
    padding: 0 25%;
    text-align: center;
}
.recipi-container img {
	width: 100%;
}
.recipes-box{
    display: flex;
    margin: 0 5%;
}
.recipies-wrap{
    padding: 0 2%;
    height: 600px;
    width: 30%;
}
.recipi-container{
	box-shadow: 5px 7px 40px gray;
	padding: 10px 20px;
	border-radius: 20px;
}
/*counter*/
.counter-area {
	margin-bottom: 46px;
}
.counter-wrap{
    display: flex;
    box-shadow: 5px 7px 40px gray;
    padding-bottom: 60px;
    border-radius: 25px;
    margin:0 7%;
}
.count-text{
    padding: 0 10%;    
}

/*contact*/

#Contact {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: rgba(255, 150, 100, 0.9);
	color: #fff;
	padding: 20px;
	text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input {
	padding: 12px;
	margin: 15px;
	width: 30%;
	border: none;
	outline: none;
}
#msg {
	width: 40%;
	padding: 20px;
	margin: 15px;
	border: none;
	outline: none;
}
#send {
	padding: 20px 68px;
	background-color: orange;
	border-radius: 80px;
	color: white;
	text-decoration: none;
	font-weight: 700;
}

/*footer*/
.footer-area h2{
    font-size: 40px;
}
.footer-area {
	background-color: black;
	padding-top: 30px;
	padding-bottom: 50px;
	margin-top: 80px;
	text-align: center;
}
.footer-area p{
    color: white;
}















